header {
    margin-bottom: -408px;

    .main-nav {
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;

        .logo-nav-container {
            background-color: $verde-claro;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            padding: 0px 40px;
            box-shadow: 0px 2px 8px 0px #cfcfcf;

            .logo {
                width: 94px;
            }

            .nav-bar {
                background: $verde-claro;
                padding: 17px;
                color: white;
                cursor: pointer;
                font-size: 28px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                transition: all 0.3s ease;

                i {
                    transition: all 0.1s ease;

                    &:active {
                        transform: scale(0.8, 0.8);
                    }
                }
            }
        }

        .menu,
        .submenu {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menu {
            background: $gris;
            width: 100%;
            margin-left: -100%;
            transition: all 0.3s ease;

            .menu__link {
                display: block;
                padding: 22px;
                color: rgb(37, 37, 37);
                font-size: 16;
                text-decoration: none;
                transition: all 0.3s ease;

                &:hover {
                    background: $rosa;
                    border-radius: 50px;
                }
            }

            .submenu {
                height: 0;
                overflow: hidden;
                background-color: $verde-claro;
                transition: all 0.3s ease;

                .menu__link {
                    background: $verde-claro;
                    padding-left: 40px;
                }
            }

            .submenu {
                .menu__link {
                    &:hover {
                        background: $rosa;
                    }
                }
            }
        }

        .mostrar {
            margin-left: 0;
        }
    }

    .fixed {
        position: fixed;
        z-index: 999;
    }
}