// Versión escritorio del menú
@media (min-width: 1024px) {
    header {
        margin-bottom: 0px;

        .main-nav {
            .logo-nav-container {
                .nav-bar {
                    display: none;
                }
            }

            .menu {
                margin-left: 0;
                display: flex;
                justify-content: space-around;
                padding: 0.6em;

                .menu__link {
                    padding: 6px 24px;

                }

                .container-submenu {
                    position: relative;

                    .submenu {
                        position: absolute;
                        top: 46px;
                        width: 244px;
                        overflow: visible;
                        z-index: 999;
                        opacity: 0;
                        visibility: hidden;

                        .menu__link {
                            &:hover {
                                border-radius: 0px;
                                background: #E8BFBC;
                            }
                        }
                    }

                    &:hover {
                        .submenu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    .textos-paginas {
        margin-right: 0em;
    }

    .img-sobre-psicom {
        margin-left: 0em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1199px) {
    .textos-paginas {
        margin-right: 0;
        margin-left: 0;
    }

    .img-sobre-psicom {
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1050px) {
    .textos-paginas {
        .titulo-sobre-paginas {
            font-size: 3.4em;
        }
    }

    .img-quienes-somos {
        width: 18em;
    }
}

@media (max-width: 900px) {
    .textos-paginas {
        .titulo-sobre-paginas {
            font-size: 2.9em;
        }

        .descripcion-paginas {
            font-size: 1em;
        }
    }

    .img-sobre-psicom {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            width: 16em;
        }
    }
}

@media (max-width: 767px) {
    .textos-paginas {
        margin-right: 0;
        margin-left: 0;

        .titulo-sobre-paginas {
            font-size: 2.6em;
        }
    }

    .img-quienes-somos {
        width: 15em;
    }

    .que-nos-diferencia {
        margin-top: 2em;
    }
}

@media (max-width: 736px) {
    .textos-paginas {
        .titulo-sobre-paginas {
            font-size: 2.6em;
        }
    }

    .img-quienes-somos {
        width: 16em;
    }
}

@media (max-width: 708px) {
    .textos-paginas {
        .titulo-sobre-psicom {
            font-size: 2.1em;
        }

        .descripcion-paginas {
            font-size: 0.9em;
        }
    }

    .img-sobre-psicom {
        img {
            width: 14em;
        }
    }
}

@media (max-width: 575px) {
    .img-sobre-psicom {
        justify-content: center;
        margin-top: 1.5em;
    }

    .textos-paginas {
        .titulo-categorias {
            p {
                font-size: 1.1em;
            }
        }
    }

    .sub1 {
        font-size: 1em;
    }

    .btn {
        font-size: 0.8em;
    }

    .imagen-categorias {
        a {
            img {
                width: 90%;
            }
        }
    }
}

@media (max-width: 450px) {
    .textos-paginas {
        .titulo-sobre-paginas {
            font-size: 2.12em;
        }
    }

    .ficha-contacto {
        width: 18em;
    }
}